In [1]:
# Initialising and importing
%autosave 300
import pandas as pd

Autosaving every 300 seconds

In [2]:
# Saving file path for csv file to clean
csv_path = '../Resources/Data.gov/US_CDI.csv'

In [3]:
data_gov_raw = pd.read_csv(csv_path)

C:\Users\brian\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (7,10,18,19,20,21,23,30,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data_gov_raw.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2016,2016,US,United States,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,59,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
1,2016,2016,AL,Alabama,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,1,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2016,2016,AK,Alaska,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,2,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2016,2016,AZ,Arizona,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,4,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
4,2016,2016,AR,Arkansas,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,5,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN

In [5]:
#data_gov_raw.columns

In [6]:
#data_gov_raw.dtypes

In [24]:
data_gov_Mental_Health = data_gov_raw.loc[(data_gov_raw['Topic'] == 'Mental Health')
                                          & (data_gov_raw['Question'] == 'Recent mentally unhealthy days among adults aged >= 18 years')]
data_gov_Mental_Health = data_gov_Mental_Health.dropna(axis = 1, how = 'all')

In [25]:
data_gov_Mental_Health.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'DataSource',
       'Topic', 'Question', 'DataValueUnit', 'DataValueType', 'DataValue',
       'DataValueAlt', 'DataValueFootnoteSymbol', 'DatavalueFootnote',
       'LowConfidenceLimit', 'HighConfidenceLimit', 'StratificationCategory1',
       'Stratification1', 'GeoLocation', 'LocationID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'StratificationCategoryID1', 'StratificationID1'],
      dtype='object')

In [26]:
data_gov_Mental_Health.count()

YearStart                    5220
YearEnd                      5220
LocationAbbr                 5220
LocationDesc                 5220
DataSource                   5220
Topic                        5220
Question                     5220
DataValueUnit                5220
DataValueType                5220
DataValue                    4508
DataValueAlt                 4508
DataValueFootnoteSymbol       748
DatavalueFootnote             748
LowConfidenceLimit           4508
HighConfidenceLimit          4508
StratificationCategory1      5220
Stratification1              5220
GeoLocation                  5184
LocationID                   5220
TopicID                      5220
QuestionID                   5220
DataValueTypeID              5220
StratificationCategoryID1    5220
StratificationID1            5220
dtype: int64

In [19]:
data_gov_Mental_Health.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
16060,2016,2016,UT,Utah,BRFSS,Mental Health,Recent mentally unhealthy days among adults ag...,NaN,Number,Mean,...,49,MTH,MTH1_0,MEAN,GENDER,GENM,NaN,NaN,NaN,NaN
16142,2016,2016,VT,Vermont,BRFSS,Mental Health,Recent mentally unhealthy days among adults ag...,NaN,Number,Mean,...,50,MTH,MTH1_0,MEAN,GENDER,GENM,NaN,NaN,NaN,NaN
16437,2016,2016,VA,Virginia,BRFSS,Mental Health,Recent mentally unhealthy days among adults ag...,NaN,Number,Mean,...,51,MTH,MTH1_0,MEAN,GENDER,GENM,NaN,NaN,NaN,NaN
17827,2016,2016,PR,Puerto Rico,BRFSS,Mental Health,Recent mentally unhealthy days among adults ag...,NaN,Number,Mean,...,72,MTH,MTH1_0,MEAN,OVERALL,OVR,NaN,NaN,NaN,NaN
17919,2016,2016,IL,Illinois,BRFSS,Mental Health,Recent mentally unhealthy days among adults ag...,NaN,Number,Mean,...,17,MTH,MTH1_0,MEAN,GENDER,GENM,NaN,NaN,NaN,NaN

In [14]:
data_gov_Mental_Health.to_csv(path_or_buf = '../Resources/Data.gov/US_CDI_Mental_Health.csv')